
form {
    width: 300px;
    height: 100px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1{
    color: #007bff;
    width: 100;
    font-family: Arial Black;    
    
}
h2{
    color: #3B5998;
    
}


form input[type="text"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #cdd0d4;
    border-radius: 3px;
    box-sizing: border-box; 
}

form input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 3px;
    height: 50%;
    background-color: #007bff;
    color: #fff;
  
    font-family: Arial Black;
    cursor: pointer;
   
}
